ErrorDocument 404 http://david.wf/students/index.html
ErrorDocument 403 http://david.wf/students/index.html
ErrorDocument 401 http://david.wf/students/index.html
ErrorDocument 400 http://david.wf/students/index.html
ErrorDocument 500 http://david.wf/students/index.html