
a.header 
{ 
  font-size: 20px;
  display: block;
  color: white;
  padding: 5px 20px 5px 20px;
  text-decoration:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
}


div.header
{
  border-radius: 20px;
  background-color: rgb(31, 76, 160);
  display: inline-block;
  margin: 5px;
}

body
{
  margin-top: 10px;
  font-family: Calibri, sans-serif;
  margin-bottom: 100px;
}

div.menuInternal
{
  text-align: center;
}

div.mainText
{
  font-size: 18px;
}

